.game-board {
  position: relative;
  overflow: hidden;
  width: 750px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(255, 255, 255);
  @media (max-height: 699px) {
    height: 640px;
  }
}

.field__cell,
.field__cell_hint {
  color: rgb(101, 101, 101);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  width: 30px;
  height: 30px;

  border: solid 0.5px rgb(101, 96, 96);
  @media (max-height: 699px) {
    width: 27px;
    height: 27px;
  }
}

.field__cell {
  color: black;
}

//-
.field > :nth-child(5n + 6) > * {
  //  > *
  border-bottom: 2px solid #000000;
}

.field__cell:nth-last-child(5n) {
  border-left: 2px solid #000000;
}

.field__cell:last-child {
  border-right: 2px solid #000;
}

.field__row:first-child > :nth-child(5n + 1) > * {
  border-left: 2px solid #000;
}

.field__row:first-child {
  border-top: 2px solid #000;
}

.field__row:first-child > :last-child > * {
  border-right: 2px solid #000;
}

.field__row {
  border-left: 2px solid #000;
}

.field__row:nth-child(2) > * {
  border-top: 2px solid #040404;
}

// .field__row:last-child > * {
//   border-bottom: 2px solid #040404;
// }

//

.field__row {
  display: flex;
  justify-content: end; // temp
}

.grey {
  background: #dbdada;
}

.black {
  background: #000000;
}

.column-hint {
  // border-bottom: solid 2px black; // temp
  display: flex; // temp
  flex-direction: column; // temp
  justify-content: end;
}
