.game-board {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #dcd0d0;
}

.field__cell {
  background: #dad7d7;
  width: 40px;
  height: 40px;

  border: solid 1px black;
}

.field__row {
  display: flex;
  justify-content: end; // temp
}

.black {
  background: #575252;
}

.column-hint {
  border-bottom: solid 2px black; // temp
  display: flex; // temp
  flex-direction: column; // temp
  justify-content: end;
}
