.modal-window {
  width: 100%;
  height: 100%;
  background: #8e8e8e;
  position: absolute;
  opacity: 0.99;
  transform: translateY(100%);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window__inner {
  background-color: #737272;
  border-radius: 5px;
  color: #ffffff;
  padding: 20px 50px;
}

.modal-window_open {
  transform: translateY(0);
  transition: 0.5s;
}

.level__item {
  width: 80px;
}

.modal-window_dark {
  background: #505050;

  .modal-window__inner {
    background-color: #272626;
    color: #55a07d;
  }
}
