body {
  font-family: "Inter", sans-serif;
}

.enjoy__title_text-accent, .text-accent {
  font-style: italic;
  color: #b0907a;
}

.text-caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
}

a,
button {
  font-weight: 600;
}

.footer__contacts-list li a, .menu-link, .nav__link {
  position: relative;
}
.footer__contacts-list li a::after, .menu-link::after, .nav__link::after {
  position: absolute;
  content: "";
  background: #403f3d;
  height: 2px;
  width: 0;
  top: calc(100% + 4px);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.footer__contacts-list li a:hover::after, .menu-link:hover::after, .nav__link:hover::after {
  width: 100%;
  opacity: 1;
}

.menu-offer__img, .images-box__img, .footer__contacts-list li a, .cup-svg, .menu-link, .nav__link, .btn_icon svg path, .btn_mobile-app svg path, .btn-tab-item span, .btn_primary img, .btn_primary span, .btn, .footer__contacts-list li a::after, .menu-link::after, .nav__link::after {
  transition: all 0.3s ease-in;
}

.menu-offer__img-wrapper, .btn_icon-burger, .btn_icon, .btn-tab-item span {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #403f3d;
  background: #e1d4c9;
}

h1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 75.6px;
  color: #c1b6ad;
}

h2 {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 75px;
  color: #403f3d;
}

h3,
.price {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  color: #403f3d;
}

@media (max-width: 380px) {
  h1 {
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 48.3px;
    color: #403f3d;
  }
  h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    color: #403f3d;
  }
}
footer {
  color: #e1d4c9;
}

.btn {
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #403f3d;
  border-radius: 100px;
  border: 1px solid #665f55;
}
.btn:hover {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #e1d4c9;
  background: #665f55;
}
.btn_primary {
  display: inline-block;
  background: #e1d4c9;
  padding: 20px 78px;
  border: none;
}
.btn_primary .btn_primary__wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.btn_primary img {
  position: absolute;
  left: calc(100% - 4px);
  opacity: 0;
}
.btn_primary:hover {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #403f3d;
  background: #e1d4c9;
}
.btn_primary:hover img {
  opacity: 1;
}
.btn_primary:hover span span {
  transform: translateX(-11px);
}
.btn_secondary {
  padding: 10px 78px;
  background: none;
}
.btn_secondary:active {
  background: #665f55;
}
.btn-tab-item {
  padding: 8px 16px 8px 8px;
  background: transparent;
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  border-color: #c1b6ad;
}
.btn-tab-item span {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: #c1b6ad;
}
.btn-tab-item:hover {
  border-color: #665f55;
}
.btn-tab-item:hover span {
  background: #e1d4c9;
}
.btn-tab-item:disabled {
  cursor: default;
  border-color: #665f55;
  background: #665f55;
  color: #e1d4c9;
}
.btn-tab-item:disabled span {
  background: #e1d4c9;
}
.btn_mobile-app {
  padding: 12px 20px;
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  background: #e1d4c9;
}
.btn_mobile-app span {
  width: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.btn_mobile-app:hover svg path {
  fill: #c1b6ad;
}
.btn_icon {
  width: 60px;
  height: 60px;
  background: none;
}
.btn_icon:hover path {
  stroke: #e1d4c9;
}
.btn_icon-light {
  border-color: #c1b6ad;
}
.btn_icon-light:hover {
  background: #e1d4c9;
}
.btn_icon-light:hover path {
  stroke: #403f3d;
}
.btn_icon-burger {
  width: 44px;
  height: 44px;
}

.logo-svg {
  cursor: pointer;
}

.cup-svg {
  cursor: pointer;
}

.slider-arrow-svg_right {
  transform: rotate(180deg);
}

.container {
  width: 1360px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.header__nav {
  margin-top: 16px;
}

.nav__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.header__menu-link {
  margin-top: 16px;
}

.menu-link {
  display: flex;
  align-items: flex-start;
}

.menu__title {
  margin-right: 8px;
}

.footer {
  margin: 94px 0 40px;
}

.footer__text {
  color: #e1d4c9;
}

.footer__wrapper {
  padding: 100px;
  background: #665f55;
  border-radius: 40px;
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
.footer__wrapper > * {
  flex-basis: 50%;
}

.footer__social-buttons {
  margin-top: 40px;
  display: inline-flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__contacts-list {
  margin-top: 40px;
}
.footer__contacts-list li {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}
.footer__contacts-list li a {
  display: flex;
  align-items: flex-start;
}
.footer__contacts-list li a::after {
  background: #e1d4c9;
}
.footer__contacts-list li:last-child {
  margin-bottom: 4px;
  letter-spacing: 0.15px;
}
.footer__contacts-list object {
  margin-right: 8px;
}
.footer__contacts-list svg {
  margin-right: 8px;
}

.enjoy {
  padding-top: 15px;
  color: #e1d4c9;
}
.enjoy__wrapper {
  border-radius: 40px;
  background: url(../../img/jpg/img-hero.jpg);
  background-position: center;
  background-size: cover;
}

.enjoy__content {
  padding: 100px;
}

.enjoy-title__container {
  width: 530px;
}

.enjoy__text {
  margin-top: 40px;
}

.enjoy__btn {
  margin-top: 40px;
}

.favorite {
  margin-top: 100px;
}

.favorite__wrapper {
  margin: 0 4px;
}

.favorite__title {
  text-align: center;
}

.slider-favorite {
  margin-top: 40px;
}

.slider__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-favorite-item__container {
  width: 480px;
}

.slider-favorite-item__description {
  margin-top: 15px;
  text-align: center;
}

.slider-favorite-item__description p {
  margin-top: 16px;
}

.slider__bottom {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.slider-bottom__wrapper {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.slider-favorite__control {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 4px;
  background: #c1b6ad;
  border-radius: 100px;
}
.slider-favorite__control:first-child::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #665f55;
  border-radius: 100px;
}

.about {
  margin-top: 100px;
}

.about__text-span {
  letter-spacing: -0.3px;
}

.about__images-box {
  margin-top: 38px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 430px 160px 430px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.images-box__img-wrapper {
  max-width: 660px;
  height: 590px;
  overflow: hidden;
  border-radius: 20px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images-box__img-wrapper:nth-child(2), .images-box__img-wrapper:nth-child(3) {
  height: 430px;
}
.images-box__img-wrapper:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
}
.images-box__img-wrapper:nth-child(2) {
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 40px;
}
.images-box__img-wrapper:nth-child(3) {
  grid-row-start: 1;
  grid-row-end: 2;
}
.images-box__img-wrapper:nth-child(4) {
  grid-row-start: 2;
  grid-row-end: 4;
  margin-top: 40px;
}

.images-box__img:hover {
  transform: scale(0.91);
}

.mobile-app {
  margin-top: 140px;
}

.mobile-app__wrapper {
  display: flex;
  justify-content: space-between;
}

.mobile-app_download-app {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.download-app__wrapper {
  max-width: 630px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.download-app__buttons {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.menu {
  margin: 13px 0 101px;
}

.menu__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 39.5px;
}
.menu__wrapper h2 {
  width: 800px;
  text-align: center;
}

.menu__tabs {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.menu__offer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.menu-offer {
  border: 1px solid #c1b6ad;
  border-radius: 40px;
  width: 310px;
  overflow: hidden;
}
.menu-offer__img-wrapper {
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
}
.menu-offer__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  height: 156px;
  margin: 20px 20px 18px;
}
.menu-offer__description p {
  margin-top: 12px;
}
.menu-offer:hover .menu-offer__img-wrapper .menu-offer__img {
  scale: 0.91;
}/*# sourceMappingURL=main.css.map */