.button {
  border-radius: 5px;
  width: 118px;
  height: 26px;
  font-weight: 600;
  cursor: pointer;
  background: #ffffff;
  border-bottom: 4px solid #ec7b7b;
  &:hover {
    scale: 1.05;
  }
}

.button_disabled {
  cursor: default;

  &:hover {
    scale: 1;
  }
}
