.user-list {
  width: 35%;
}

.user-list__wrapper {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 15px;
  height: 100%;
  overflow: hidden;
}

.list {
  padding-left: 10px;
}

.user-item {
  margin-bottom: 5px;
  &::marker {
    color: #16bb00;
  }
}
