.user-list {
  width: 35%;
}

.user-list__wrapper {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 15px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .input {
    border: 1px solid #000;
    margin-bottom: 15px;
    width: 100%;
    padding: 15px;
  }
}

.list {
  padding-left: 5px;
  list-style-type: none;
}

.user-item {
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  padding-left: 20px;

  &::before {
    content: '\1F7E2';
    position: absolute;
    left: -3px;
    border-radius: 100px;
  }

  &:hover {
    background: #e7e7e7;
    cursor: pointer;
  }
}

.inactive {
  &::before {
    content: '\1F518';
  }
}

.hidden {
  display: none;
}
