%font-primary {
  font-family: 'Inter', sans-serif;
}

%heading-accent {
  font-style: italic;
  color: $color-text-accent;
}

%font-caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
}

%font-link-button {
  font-weight: 600;
}

%font-burger-link {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

%underline {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    background: $color-text-dark;
    height: 2px;
    width: 0;
    top: calc(100% + 2px);
    left: 50%;
    transform: translateX(-50%);
    @extend %transition;
    opacity: 0;
  }

  @media (hover: hover) {
    &:hover::after {
      width: 100%;
      opacity: 1;
    }
  }
}

%transition {
  transition: all 0.3s ease-in;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
