%font-primary {
  font-family: 'Inter', sans-serif;
}

%heading-accent {
  font-style: italic;
  color: $color-text-accent;
}

%font-caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
}

%font-link-button {
  font-weight: 600;
}

%font-burger-link {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

%underline {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    background: $color-text-dark;
    height: 2px;
    width: 0;
    top: calc(100% + 4px);
    left: 50%;
    transform: translateX(-50%);
    @extend %transition;
  }
  &:hover::after {
    width: 100%;
    background: $color-text-accent;
  }
}

%link-hover {
  &:hover {
    color: $color-text-accent;
  }
}

%transition {
  transition: all 0.3s;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
