$color-text-dark: #403f3d;
$color-text-light: #e1d4c9;
$color-text-accent: #b0907a;
$color-bg-body: $color-text-light;
$color-bg-container: #665f55;
$color-bg-backdrop: #403f3dcc;
$color-border-light: #c1b6ad;
$color-border-dark: $color-bg-container;
$color-backdrop: #403f3d;

$width-desktop: 1440px;
$width-tablet: 768px;
$width-mobile: 380px;
