.garage {
  color: #fff;
}

.garage-control__row {
  display: flex;
  column-gap: 5px;
  margin-bottom: 10px;
}

.car__node {
  margin-top: 25px;
}

.car-node__top {
  display: flex;
  column-gap: 5px;
}

.car-name {
  margin-left: 15px;
  color: #ffe95b;
}
