.garage {
  color: #fff;
}

.garage-control__row {
  display: flex;
  column-gap: 5px;
  margin-bottom: 10px;

  .race-button {
    width: 70px;
    border-bottom-color: #8aacfa;
  }

  .generate-button {
    width: 215px;
  }
}

.car__node {
  margin-top: 25px;
}

.car-node__top {
  display: flex;
  column-gap: 5px;
}

.car-name {
  margin-left: 15px;
  color: #ffe95b;
}

.pagination-buttons {
  margin-top: 25px;

  button {
    width: 60px;
    border-bottom-color: #989898;

    &:nth-child(2) {
      margin-left: 5px;
    }
  }
}
