.garage {
  color: #fff;
}

.garage-control__row {
  display: flex;
  column-gap: 5px;
  margin-bottom: 10px;

  .race-button {
    width: 90px;
    border-bottom-color: #8aacfa;
  }

  .generate-button {
    width: 175px;
  }
}

.car__node {
  margin-top: 25px;
}

.car-node__top {
  display: flex;
  column-gap: 5px;
}

.car-name {
  font-weight: bolder;
  margin-left: 15px;
}

.car-name-background {
  background: #414141;
  border-radius: 5px;
  padding: 3px 5px;
}

.car-row {
  border-bottom: dashed #ffffff;
  display: flex;
  margin-top: 10px;

  button {
    position: relative;
    width: 55px;
    background: transparent;
    color: #fffb789d;
    border: 1px solid #fffb789d;
    border-bottom: 2px solid #fffb789d;
    font-weight: 400;

    &:nth-child(2) {
      margin-left: 5px;
    }
  }

  svg {
    position: relative;
    top: 5px;
  }

  .flag {
    margin-left: auto;
    font-size: 36px;
    margin-right: 80px;
  }
}

.pagination-buttons {
  margin-top: 25px;

  button {
    width: 60px;
    border-bottom-color: #989898;

    &:nth-child(2) {
      margin-left: 5px;
    }
  }
}
