.login-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 230px;
  background: #a1a1a1;
  border-radius: 5px;

  .label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 15px;

    span {
      margin-bottom: 5px;
    }
  }

  .button {
    margin-top: 25px;
  }
}
