.modal {
  position: fixed;
  width: 300px;
  height: 400px;
  background: #8a7878;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

// .modal__message,
// .modal__secret-word,
// .modal__btn {
//   margin-top: 50px;
// }

.modal__btn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
}
