.login-window {
  background: #a1a1a1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // width: 300px;
  // height: 280px;
  border-radius: 5px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      margin-bottom: 15px;
    }
  }

  fieldset {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin: 15px;

    legend {
      margin-bottom: 20px;
    }

    label {
      display: flex;
      justify-content: space-between;

      span:first-child {
        cursor: pointer;
      }

      input {
        width: 210px;
        margin-left: 25px;
        padding: 10px;
      }

      span:nth-child(2),
      span:nth-child(3) {
        display: block;
        width: 235px;
        // height: 10px;
        font-size: 12px;
        color: #b30707;
        padding-left: 25px;
        margin-top: 3px;
      }

      span:nth-child(3) {
        margin-top: 5px;
      }
    }
  }
}
