.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.header__nav {
  margin-top: 16px;
}

.nav__list {
  display: flex;
  column-gap: 40px;
}

.nav__link {
  @extend %underline;
  //@extend %link-hover;
  @extend %transition;
}

.header__menu-link {
  margin-top: 16px;
}

.menu-link {
  display: flex;
  align-items: flex-start;
  @extend %underline;
  //@extend %link-hover;
  @extend %transition;
  // &:hover .cup-svg {
  //   stroke: $color-text-accent;
  // }

  &_active {
    position: relative;
    cursor: default;
    display: flex;
    align-items: flex-start;
    &::after {
      position: absolute;
      content: '';
      background: $color-text-dark;
      height: 2px;
      width: 100%;
      top: calc(100% + 2px);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.cup-svg {
  @extend %transition;
}

.menu__title {
  margin-right: 8px;
}
