.keyboard__wrapper {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.keyboard__key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background: #a06a6a;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.key_disable {
  cursor: default;
  background: #c11c1c;
}
