.favorite {
  margin-top: 100px;
}

.favorite__wrapper {
  margin: 0 4px;

  @media (max-width: 768px) {
    margin: 0;
  }
}

.favorite__title {
  text-align: center;
}

.slider-favorite {
  margin-top: 40px;
}

.slider__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 730px) {
    justify-content: center;
  }

  button {
    @media (max-width: 730px) {
      display: none;
    }
  }
}

.slider-favorite__wrapper {
  width: 480px;
  overflow: hidden;

  @media (max-width: 550px) {
    width: 348px;
  }

  @media (max-width: 379px) {
    width: 250px;
  }
}

.slider-favorite__list {
  display: flex;
  position: relative;
  //transition: all 3s;
}

.slider-favorite__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//------------

// @media (hover: hover) {
//   .slider-favorite__list:hover + .slider__bottom .slider__control_active {
//     animation-play-state: paused;
//   }
// }

//------------

.slider-favorite-item__img {
  width: 480px;

  @media (max-width: 550px) {
    width: 348px;
  }

  @media (max-width: 379px) {
    width: 250px;
  }
}

.slider-favorite-item__description {
  margin-top: 21px;
  text-align: center;
}

.slider-favorite-item__description {
  p {
    margin-top: 16px;
  }
}

.slider__bottom {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.slider-bottom__wrapper {
  display: flex;
  column-gap: 12px;
}

.slider-favorite__control {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 4px;
  background: $color-border-light;
  border-radius: 100px;
}

.slider__control_active {
  position: absolute;
  //content: '';
  height: 100%;
  background: $color-border-dark;
  border-radius: 100px;
  animation-name: fill-control;
  animation-duration: 5s;
  animation-timing-function: linear;
  //-
}

@keyframes fill-control {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.pause {
  animation-play-state: paused;
}

.continue {
  animation-play-state: running;
}

:root {
  --slider_start-point: 0;
  --slider_end-point: 0;
}

@keyframes move-slider {
  from {
    left: var(--slider_start-point);
  }
  to {
    left: var(--slider_end-point);
  }
}

.slider-move {
  animation-name: move-slider;
  animation-duration: 0.5s;
}

.slider_current-point {
  left: var(--slider_end-point);
}
