.menu {
  margin: 20px 0 100px;
}

.menu__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 39.5px;

  h1 {
    @include font($size: 60px, $weight: 600, $height: 75px);
    width: 800px;
    text-align: center;

    @media (max-width: 1439.9px) {
      width: auto;
    }

    @media (max-width: 596px) {
      @include font($size: 32px, $weight: 600, $height: 40px);
    }
  }
}

.menu__tabs {
  display: flex;
  column-gap: 16px;

  @media (max-width: 596px) {
    column-gap: 8px;
  }
}

.menu__offer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;

  @media (max-width: 1439.9px) {
    justify-content: center;
  }

  //width: 1360px;

  // @media (max-width: 1439.9px) {
  //   width: 658px;
  //   column-gap: unset;
  //   justify-content: space-between;
  // }

  // @media (max-width: 730px) {
  //   width: 310px;
  // }
}

.menu-offer {
  cursor: pointer;
  border: 1px solid $color-border-light;
  border-radius: 40px;
  width: 310px;
  overflow: hidden;

  &__img-wrapper {
    @extend %flex-center;
    height: 310px;
    border-radius: 40px;
    overflow: hidden;
  }

  &__img {
    @extend %transition;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    height: 156px;
    margin: 20px 20px 18px;

    p {
      margin-top: 12px;
    }
  }

  @media (hover: hover) {
    &:hover .menu-offer__img-wrapper .menu-offer__img {
      scale: 0.91;
    }
  }

  // @media (max-width: 1439.9px) {
  //   &:nth-child(5),
  //   &:nth-child(6),
  //   &:nth-child(7),
  //   &:nth-child(8) {
  //     display: none;
  //   }
  // }
}

.menu__btn-refresh {
  display: none;

  // @media (max-width: 1439.9px) {
  //   display: flex;
  // }
}

.menu__btn_visible {
  display: flex;
}

.menu-offer_hidden {
  display: none;
}
