.dialog-box {
  width: 65%;
}

.dialog-box__wrapper {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 15px;
  height: 100%;
}

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #454545;

    p {
      height: 20px;
    }
  }
}

.talker-status {
  color: #01ca01;
}

.talker-status_inactive {
  color: #ff0000;
}
